.table1 table, th, td {
    border: 1px dotted blue;
}

.table2 table {
    border-collapse: collapse;
}

.table2 table, th, td {
    border: 1px cornflowerblue solid;
}

.table2 th {
    height: 40px;
}

.table2 td {
    height: 80px;
}

.table3 table {
    width: 100%;
    border-collapse: collapse;
}

.table3 th {
    height: 40px;
}

.table3 td {
    height: 60px;
}

.table4 {
    border-collapse: collapse;
    empty-cells: hide;
    caption-side: bottom;
}

table.one {
    table-layout: auto;
}

table.two {
    table-layout: fixed
}