<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="../../css/list.css">
    </head>
    <body>
        <p>Type circle:</p>
        <ul class="circle">
            <li>Coffee</li>
            <li>Tea</li>
            <li>Coca Cola</li>
        </ul>

        <p>Type square:</p>
        <ul class="square">
            <li>Coffee</li>
            <li>Tea</li>
            <li>Coca Cola</li>
        </ul>

        <p>Type upper-roman:</p>
        <ol class="none">
            <li>Coffee</li>
            <li>Tea</li>
            <li>Coca Cola</li>
        </ol>

        <p>Type lower-alpha:</p>
        <ol class="lower-alpha">
            <li>Coffee</li>
            <li>Tea</li>
            <li>Coca Cola</li>
        </ol>
        <div>
            <table>
                <tr>
                    <td>none</td>
                    <td>无标记。</td>
                </tr>
                <tr>
                    <td>disc</td>
                    <td>默认。标记是实心圆。</td>
                </tr>
                <tr>
                    <td>circle</td>
                    <td>标记是空心圆。</td>
                </tr>
                <tr>
                    <td>square</td>
                    <td>标记是实心方块。</td>
                </tr>
                <tr>
                    <td>decimal</td>
                    <td>标记是数字。</td>
                </tr>
                <tr>
                    <td>decimal-leading-zero</td>
                    <td>0开头的数字标记。(01, 02, 03, 等。)</td>
                </tr>
                <tr>
                    <td>lower-roman</td>
                    <td>小写罗马数字(i, ii, iii, iv, v, 等。)</td>
                </tr>
                <tr>
                    <td>upper-roman</td>
                    <td>大写罗马数字(I, II, III, IV, V, 等。)</td>
                </tr>
                <tr>
                    <td>lower-alpha</td>
                    <td>小写英文字母The marker is lower-alpha (a, b, c, d, e, 等。)</td>
                </tr>
                <tr>
                    <td>upper-alpha</td>
                    <td>大写英文字母The marker is upper-alpha (A, B, C, D, E, 等。)</td>
                </tr>
                <tr>
                    <td>lower-greek</td>
                    <td>小写希腊字母(alpha, beta, gamma, 等。)</td>
                </tr>
                <tr>
                    <td>lower-latin</td>
                    <td>小写拉丁字母(a, b, c, d, e, 等。)</td>
                </tr>
                <tr>
                    <td>upper-latin</td>
                    <td>大写拉丁字母(A, B, C, D, E, 等。)</td>
                </tr>
                <tr>
                    <td>hebrew</td>
                    <td>传统的希伯来编号方式</td>
                </tr>
                <tr>
                    <td>armenian</td>
                    <td>传统的亚美尼亚编号方式</td>
                </tr>
                <tr>
                    <td>georgian</td>
                    <td>传统的乔治亚编号方式(an, ban, gan, 等。)</td>
                </tr>
                <tr>
                    <td>cjk-ideographic</td>
                    <td>简单的表意数字</td>
                </tr>
                <tr>
                    <td>hiragana</td>
                    <td>标记是：a, i, u, e, o, ka, ki, 等。（日文片假名）</td>
                </tr>
                <tr>
                    <td>katakana</td>
                    <td>标记是：A, I, U, E, O, KA, KI, 等。（日文片假名）</td>
                </tr>
                <tr>
                    <td>hiragana-iroha</td>
                    <td>标记是：i, ro, ha, ni, ho, he, to, 等。（日文片假名）</td>
                </tr>
                <tr>
                    <td>katakana-iroha</td>
                    <td>标记是：I, RO, HA, NI, HO, HE, TO, 等。（日文片假名）</td>
                </tr>
            </table>
        </div>
        <div class="list_style_image">
            <ul>
                <li>咖啡</li>
                <li>茶</li>
                <li>可口可乐</li>
            </ul>
        </div>
        <div>
            <ul class="list_style_position_inside">
                <li>列表项目标记放置在文本以内，且环绕文本根据标记对齐。</li>
                <li>茶</li>
                <li>可口可乐</li>
            </ul>
        </div>
        <div>
            <ul class="list_style_position_outside">
                <li>默认值。保持标记位于文本的左侧。列表项目标记放置在文本以外，且环绕文本不根据标记对齐。</li>
                <li>茶</li>
                <li>可口可乐</li>
            </ul>
        </div>
        <div>
            <ul class="list_style">
                <li>list-style:square inside url('/i/arrow.gif');</li>
                <li>茶</li>
                <li>可口可乐</li>
            </ul>
        </div>
    </body>
</html>