<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="../../css/table.css">
    </head>
    <body>
        <div class="table1">
            <table>
                <tr>
                    <th>头1</th>
                    <th>头2</th>
                    <th>头3</th>
                </tr>
                <tr>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                </tr>
                <tr>
                    <td>31</td>
                    <td>32</td>
                    <td>33</td>
                </tr>
            </table>
        </div>
        <div class="table2">
            <span>边框折叠</span>
            <table>
                <tr>
                    <th>头1</th>
                    <th>头2</th>
                    <th>头3</th>
                </tr>
                <tr>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                </tr>
                <tr>
                    <td>31</td>
                    <td>32</td>
                    <td>33</td>
                </tr>
            </table>
        </div>
        <div class="table3">
            <span>设置宽高</span>
            <table>
                <tr>
                    <th>头1</th>
                    <th>头2</th>
                    <th>头3</th>
                </tr>
                <tr>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                </tr>
                <tr>
                    <td>31</td>
                    <td>32</td>
                    <td>33</td>
                </tr>
            </table>
        </div>

        <br>
        <div style="border: red 1px dotted">
            <table class="table4">
                <caption>隐藏空白表格\设置标题位置</caption>
                <tr>
                    <th>头1</th>
                    <th>头2</th>
                    <th>头3</th>
                </tr>
                <tr>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                </tr>
                <tr>
                    <td></td>
                    <td>22</td>
                    <td>23</td>
                </tr>
                <tr>
                    <td>31</td>
                    <td></td>
                    <td>33</td>
                </tr>
            </table>
        </div>

        <br>
        <table class="one" border="1" width="100%">
            <tr>
                <td width="20%">1000000000000000000000000000</td>
                <td width="40%">10000000</td>
                <td width="40%">100</td>
            </tr>
        </table>

        <br>

        <table class="two" border="1" width="100%">
            <tr>
                <td width="20%">1000000000000000000000000000</td>
                <td width="40%">10000000</td>
                <td width="40%">100</td>
            </tr>
        </table>
    </body>
</html>