<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="../../css/padding_border_margin.css">
    </head>
    <body>
        <div class="fontColor">1开始</div>
        <div class="border">
            <div class="myDiv1">
                margin 0 padding 0 border 10px
            </div>
        </div>
        <div class="fontColor">1结束</div>
        <br>
        <div class="fontColor">2开始</div>
        <div class="border">
            <div class="myDiv2">
                margin 10px padding 0 border 10px
            </div>
        </div>
        <div class="fontColor">2结束</div>
        <br>
        <div class="fontColor">3开始</div>
        <div class="border">
            <div class="myDiv3">
                margin 0 padding 10px border 10px
            </div>
        </div>
        <div class="fontColor">3结束</div>
        <br>
        <div class="fontColor">4开始</div>
        <div class="border">
            <div class="myDiv4">
                margin 10px padding 10px border 10px
            </div>
        </div>
        <div class="fontColor">4结束</div>
        <br>
        <div class="fontColor">合并margin开始</div>
        <div id="d1">
        </div>

        <div id="d2">
        </div>
        <div class="fontColor">合并margin结束</div>
    </body>
</html>