<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <style>

            img.top {
                vertical-align: text-top
            }

            img.bottom {
                vertical-align: text-bottom
            }
        </style>
    </head>
    <body>
        <p>
            这是一幅<img class="top" border="0" src="../../img/QQ截图20170118180549.png"/>位于段落中的图像。
        </p>

        <p>
            这是一幅<img class="bottom" border="0" src="../../img/QQ截图20170118180549.png"/>位于段落中的图像。
        </p>
        <p>
            可能的值
            值 描述
        </p>
        <p>
            baseline 默认。元素放置在父元素的基线上。
        </p>
        <p>
            这是一幅baseline<img style="vertical-align: baseline;  position: inherit;" border="0" src="../../img/QQ截图20170118180549.png"/>位于baseline的图像。
        </p>
        <p>
            sub 垂直对齐文本的下标。</p>
        <p>
            这是一幅sub<img style="vertical-align: sub;" border="0" src="../../img/QQ截图20170118180549.png"/>位于sub的图像。
        </p>
        <p>
            super 垂直对齐文本的上标</p>
        <p>
            这是一幅super<img style="vertical-align: super;" border="0" src="../../img/QQ截图20170118180549.png"/>位于super的图像。
        </p>
        <p>
            top 把元素的顶端与行中最高元素的顶端对齐</p>  <p>
        这是一幅top<img style="vertical-align: top;" border="0" src="../../img/QQ截图20170118180549.png"/>位于top的图像。
    </p>
        <p>
            text-top 把元素的顶端与父元素字体的顶端对齐</p><p>
        这是一幅text-top<img style="vertical-align: text-top;" border="0" src="../../img/QQ截图20170118180549.png"/>位于text-top的图像。
    </p>
        <p>
            middle 把此元素放置在父元素的中部。</p><p>
        这是一幅middle<img style="vertical-align: middle;" border="0" src="../../img/QQ截图20170118180549.png"/>位于middle的图像。
    </p>
        <p>
            bottom 把元素的顶端与行中最低的元素的顶端对齐。</p><p>
        这是一幅bottom<img style="vertical-align: bottom;" border="0" src="../../img/QQ截图20170118180549.png"/>位于bottom的图像。
    </p>
        <p>
            text-bottom 把元素的底端与父元素字体的底端对齐。</p><p>
        这是一幅text-bottom<img style="vertical-align: text-bottom;" border="0" src="../../img/QQ截图20170118180549.png"/>位于text-bottom的图像。
    </p>
        <p>
            length</p><p>
        这是一幅length 50px <img style="vertical-align: 50px;" border="0" src="../../img/QQ截图20170118180549.png"/>位于length  50px的图像。
    </p>
        <p>
            % 使用 "line-height" 属性的百分比值来排列此元素。允许使用负值。</p><p>
        这是一幅120% <img style="vertical-align: 120%;" border="0" src="../../img/QQ截图20170118180549.png"/>位于length  120%的图像。
    </p>
        <p>
            inherit 规定应该从父元素继承 vertical-align 属性的值。
        </p>
    </body>
</html>