<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="../../css/width_height.css">
    </head>
    <body>
        <p>
            这是拥有标准行高的段落。
            在大多数浏览器中默认行高大约是 110% 到 120%。
            这是拥有标准行高的段落。
            这是拥有标准行高的段落。
            这是拥有标准行高的段落。
            这是拥有标准行高的段落。
            这是拥有标准行高的段落。
        </p>

        <p class="small">
            这个段落拥有更小的行高。
            这个段落拥有更小的行高。
            这个段落拥有更小的行高。
            这个段落拥有更小的行高。
            这个段落拥有更小的行高。
            这个段落拥有更小的行高。
            这个段落拥有更小的行高。
        </p>

        <p class="big">
            这个段落拥有更大的行高。
            这个段落拥有更大的行高。
            这个段落拥有更大的行高。
            这个段落拥有更大的行高。
            这个段落拥有更大的行高。
            这个段落拥有更大的行高。
            这个段落拥有更大的行高。
        </p>



        <p class="max_height">这是一些文本。这是一些文本。这是一些文本。
            这是一些文本。这是一些文本。这是一些文本。
            这是一些文本。这是一些文本。这是一些文本。
            这是一些文本。这是一些文本。这是一些文本。
            这是一些文本。这是一些文本。这是一些文本。</p>

        <img src="../../img/avator.png" />

        <p class="min_height">这是一些文本。这是一些文本。这是一些文本。
            这是一些文本。这是一些文本。这是一些文本。
            这是一些文本。这是一些文本。这是一些文本。
            这是一些文本。这是一些文本。这是一些文本。
            这是一些文本。这是一些文本。这是一些文本。</p>

        <img src="../../img/avator.png" />
<br><br><br><br><br>
        <div>
        <p style="float: left" class="max_width">这是一些文本。这是一些文本。这是一些文本。
            这是一些文本。这是一些文本。这是一些文本。
            这是一些文本。这是一些文本。这是一些文本。
            这是一些文本。这是一些文本。这是一些文本。
            这是一些文本。这是一些文本。这是一些文本。</p>

        <img style="float: left"  src="../../img/avator.png" />
        </div>
        <div >
        <p class="min_width">这是一些文本。这是一些文本。这是一些文本。
            这是一些文本。这是一些文本。这是一些文本。
            这是一些文本。这是一些文本。这是一些文本。
            这是一些文本。这是一些文本。这是一些文本。
            这是一些文本。这是一些文本。这是一些文本。</p>

        <img src="../../img/avator.png" />
            </div>
    </body>
</html>